    /* Start Globle */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --main-clr: #1768af;
    }

    body {
        font-family: "Work Sans", system-ui;
    }

    ul li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: white;
        text-transform: capitalize;
        font-weight: 300;
        transition: color .4s;

    }

    /* End Globle */

    /* start container */
    .container {

        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
    }

    /* end container */
    /* start said bar */
    .aside {
        background-color: var(--main-clr);
        position: fixed;
        padding: 40px;
        width: 30%;
        top: 0;
        left: 0;
        bottom: 0;
        color: white;
        text-align: center;
    }

    .aside .logo {
        margin-bottom: 60px;
    }

    .aside .logo h1 {
        font-weight: 300;
        margin-top: 5px;
        color: white;
        text-transform: capitalize;
    }

    .aside .links li {
        margin-bottom: 40px;
        font-size: 20px;

    }

    .aside .links li a:hover {
        color: #e5ee5e;
    }



    /* end said bar */